{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Gestion des élèves
{% endblock %}

{% block content %}

    <h1>Gestion des élèves</h1>
    <div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('student_add') }}">Ajouter un élève</a></li>
            <li><a href="{{ path('student') }}">Supprimer un élève</a></li>
            <li><a href="{{ path('student') }}">Modifier les informations d'un élève</a></li>
        </ul>
    </div>

{% endblock %}
